@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");
.personal-information {
  padding: 131px 105px 0px 105px;
  flex: 48.9%;
  text-align: center;
  height: 1080px;
}

