:root {
  --black: #000000;
  --dark: #454545;
  --border-color: #525557;
  --white: #ffffff;
  --redberry-red: #fe3b1f;
  --textarea: #3a3a3a;
  --gradient: radial-gradient(50% 50% at 50% 50%, #0c0d0e 0%, #151718 73.44%);
}
.submitted-container {
  width: 100%;
  min-height: 1080px;
  background: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 50px;
}
.submitted-container > p {
  font-size: 56px;
  line-height: 70px;
  font-family: "Rowdies-Regular";
  color: var(--white);
  width: 1154px;
  text-align: left;
  margin-top: 50px;
}
.submitted-container > div {
  margin-top: 50px;
  width: 1154px;
}
.submitted-application label,
.submitted-application input {
  margin-top: 20px;
}
.submitted-application label {
  margin-left: 8px !important;
  font-size: 14px;
  line-height: 17px;
  font-family: "Montserrat-Regular";
  color: var(--black);
}
.submitted-application {
  width: 100%;
  margin-bottom: 50px;
}
.submitted-header {
  width: 100%;
  height: 52px;
  padding: 10px;
  background: var(--redberry-red);
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  font-size: 14px;
  color: #ffffff;
}
.submitted-header > img {
  width: 12.02px;
  height: 7.42px;
  cursor: pointer;
}
.submitted-content {
  width: 100%;
  background: var(--white);
  padding: 20px;
}
.submitted-left-div,
.submitted-right-div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.submitted-left-div > div,
.submitted-right-div > div {
  padding: 20px;
}
.label-title {
  font-size: 12px;
  line-height: 15px;
  font-family: "Montserrat";
  font-style: italic;
  color: var(--black);
}
.label-value {
  font-size: 14px;
  line-height: 17px;
  font-family: "Montserrat";
  font-style: italic;
  color: var(--dark);
}
.submitted-p {
  font-size: 18px !important;
  line-height: 22px !important;
  color: var(--redberry-red) !important;
  font-family: "Montserrat" !important;
  text-decoration-line: underline !important;
  font-style: italic !important;
}
.submitted-application p {
  font-size: 18px;
  line-height: 22px;
  font-family: "Montserrat";
  color: var(--black);
}
.submitted-application textarea {
  font-size: 13px;
  line-height: 16px;
  font-family: "Montserrat";
  color: var(--textarea);
}
.inner-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.submitted-info {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.submitted-info div {
  width: 100%;
  margin-top: 10px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.submitted-info div > p {
  width: 50%;
  text-align: left;
}
.submitted-covid {
  margin-top: 30px;
  align-items: flex-start !important;
  width: 80%;
}
.submitted-covid > div {
  margin-top: 40px;
}
.date-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.date-container img {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 16px;
  height: 18px;
  background-color: transparent;
}
.submitted-skills {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.submitted-skills div {
  width: 100%;
}
.submitted-skills-list-container {
  margin-top: 20px;
  width: 80% !important;
  display: flex;
  justify-content: space-between;
}
.submitted-insigts {
  width: 80%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.submitted-insigts div {
  margin-top: 30px;
}
.submitted-insigts textarea {
  resize: none;
  width: 447px;
  height: 122px;
  margin-top: 15px;
  padding: 25px 40px;
}
.date-input {
  height: 54px;
  width: 349px;
  border: 1px solid var(--border-color);
  background-color: #fffcfc;
}
.submitted-title {
  font-family: "Rowdies-Regular";
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 0.11em;
  color: #ffffff;
  font-weight: bold;
  line-height: 70px;
  width: 80%;
}
.back {
  background-color: purple;
  border: none;
  width: 200px;
  height: 60px;
  border-radius: 50px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
@media (max-width: 1920px) {
  .submitted-container > p,
  .submitted-container > div {
    width: 80%;
  }
}
