@font-face {
  font-family: "Rowdies-Regular";
  src: url("./fonts/Rowdies/Rowdies-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("./fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}

/* !!!!!!!!!!!! Token !!!!!!!!!!!!!! */
/* 370fc7f9-45f4-4e7e-a55c-da8ea0b305c3 */
/* !!!!!!!!! API URL:  https://bootcamp-2022.devtest.ge/api/ !!!!!!!!!!! */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
