@font-face {
  font-family: "Rowdies-Regular";
  src: url("./fonts/Rowdies/Rowdies-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("./fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}

/* !!!!!!!!!!!! Token !!!!!!!!!!!!!! */
/* 370fc7f9-45f4-4e7e-a55c-da8ea0b305c3 */
/* !!!!!!!!! API URL:  https://bootcamp-2022.devtest.ge/api/ !!!!!!!!!!! */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.question-title {
  font-family: "Rowdies-Regular";
  font-weight: 400;
  font-size: 64px;
  line-height: 79.49px;
  color: #fe3b1f;
  margin-bottom: 131px;
}
.input-container {
  margin-bottom: 37px;
}

.field {
  width: 455px;
  height: 54px;
  border: 1px solid #525557;
  background: #ffffff;
  outline: none;
  padding: 17px 0px 13px 57px;
}
.field::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #454545;
  line-height: 17px;
  font-weight: 400;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 455px;
  margin: 0 auto;
  text-align: center;
}
.survey {
  display: flex;
}
.error {
  font-family: "Montserrat";
  font-size: 11px;
  color: #fe3b1f;
  text-align: left;
  margin-left: 55px;
  margin-top: 3px;
}
.invalid {
  border: 1px solid#FE3B1F;
}
/* Pagination */
.pagination {
  width: 231px;
  height: 19px;
  display: flex;
  justify-content: space-between;
  margin: 170px auto 0px;
}
.point {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  border: 3px solid #fe3b1f;
  display: inline-block;
  background-color: #fe3b1f;
  opacity: 0.1;
}
.activeClass {
  opacity: 1;
  border: none;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  display: inline-block;
  background-color: #fe3b1f;
}

.form-control {
  width: 455px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 45px;
}
.form-control:last-of-type {
  margin-bottom: -50px;
}
.hidden {
  display: none;
}
.thanks-bg {
  background-color: #454545;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.thanks-text {
  font-family: "Rowdies-Regular";
  font-size: 96px;
  line-height: 119px;
  color: #fe3b1f;
  text-align: center;
}
