@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");
.technical-skillset {
  padding: 130px 75px 170px 120px;
  flex: 45.9%;
  text-align: center;
  height: 1080px;
}
.option {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #454545;
  line-height: 17px;
  font-weight: 400;
}
.select {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #454545;
  line-height: 17px;
  font-weight: 400;
  background-image: url("../../../assets/Vector.svg");
  background-repeat: no-repeat;
  background-position: center right 25px;
}
.select {
  -moz-appearance: none;
  -webkit-appearance: none;
}
.duration {
  margin-top: 35px;
}
.duration::placeholder {
  color: #727272;
}
.add-btn {
  font-family: "Montserrat-Regular";
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  width: 201px;
  height: 32px;
  background-color: #fe3b1f;
  border: none;
  cursor: pointer;
  text-align: center;
  margin-left: auto;
  margin-top: 35px;
}
.skills-container {
  margin: 55px auto 0px;
  width: 447px;
}
.skill {
  width: 447px;
  height: 48px;
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #525557;
  align-items: center;
  margin-bottom: 17px;
}
.skill > div {
  display: flex;
  width: 70%;
  justify-content: space-between;
}
